*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body, html{
    background-color: #e2e8f0;
    height: 100%;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px 1fr;
}
/* Sidebar content styling */
.sidebar{
    background-color: #0ea5e9;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 5px 0 0;
}
.account-links{
    margin-top: 20px;
    text-align: left;
}
.site-links{
    margin-top: 30px;
    text-align: left;
}
.sidebar .link{
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.sidebar a:link, .sidebar a:visited{
    color: white;
    text-decoration: none;
}
.sidebar a:hover{
    text-decoration:underline;
}
/* End Sidebar content styling */

/* Header content styling */
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 3px 5px lightgray;
    padding: 15px 10px;
}

/* End header content styling */



/* Main-Content styling */
/* End Main-Content styling */