*{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body, html{
    background-color: #e2e8f0;
    height: 100%;
    min-width: 750px;
}
a:hover{
    transform: scale(1.05);
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px 1fr;
}
/****** Sidebar content styling ******/
.sidebar{
    background-color: #0ea5e9;
    color: white;
    grid-area: 1 / 1 / 3 / 2;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    padding: 10px 5px 0 0;
}
.account-links{
    margin-top: 20px;
    text-align: left;
}
.site-links{
    margin-top: 30px;
    text-align: left;
}
.sidebar .link{
    list-style: none;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.sidebar a:link, .sidebar a:visited{
    color: white;
    text-decoration: none;
}
.sidebar a:hover{
    text-decoration:underline;
    transform: scale(1.05);
}
/****** End Sidebar content styling ******/

/****** Header content styling ******/
.header{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 10px;
    background-color: white;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 3px 5px lightgray;
    padding: 15px 15px;
}
.header a:link, .header a:visited{
    color: #18181b;
    text-decoration: none;
}
/* top portion of header */
.header-top{
    display: grid;
    grid-template-columns: auto 4fr 3fr;
    grid-template-rows: min(40px);
    grid-template-areas: "searchicon searchbar userbar";
    justify-items: center;
    align-items: center;
    grid-column-gap: 10px;
}
.search-icon{
    grid-area: searchicon;
}
#search-bar{
    place-self: center stretch;
    grid-area: searchbar;
    height: 27px;
    background-color: azure;
    border: 3px solid #0ea5e9;
    border-radius: 20px;
    margin-right: 10%;
    padding-left: 10px;
}
.user-bar{
    grid-area: userbar;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}
.notif-icon{
    grid-area: notificon;
}
.top-user-icon{
    grid-area: topusericon;
    width: 35px;
}
.user-name{
    grid-area: username;
    font-size: 18px;
    text-align: center;
}
/* end top portion of header */
/* bottom portion of header */
.header-bottom{
    display: grid;
    grid-template-columns: 1fr 4fr 3fr;
    grid-template-rows: repeat(2, min(40px));
    grid-template-areas: 
    "bottomusericon hithere contentbtns"
    "bottomusericon bottomusername contentbtns";
    justify-items: center;
    align-items: center;
}
.bottom-user-icon{
    grid-area: bottomusericon;
    height: 100%;
    width: auto;
}
.hi-there{
    grid-area: hithere;
    justify-self: start;
    align-self: end;
    margin-left: 10px;
}
.header-bottom .user-name{
    grid-area: bottomusername;
    justify-self: start;
    align-self: start;
    text-align: left;
    margin-left: 10px;
}
.content-btns{
    grid-area: contentbtns;
    justify-self: end;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.content-btns button{
    background-color: #0ea5e9;
    color: white;
    font-size: 16px;
    width: 75px;
    padding: 5px;
    border: 1px solid #0ea5e9;
    border-radius: 20px;
}
.content-btns > button:hover{
    background-color: #1891ca;
}
/* end bottom portion of header */
/****** End header content styling ******/
/****** Main-Content styling ******/
.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/* projects container */
.your-projects{grid-area: yourprojects; font-weight: bold;}
.project-one{ grid-area: projectone;}
.project-two{ grid-area: projecttwo;}
.project-three{ grid-area: projectthree;}
.project-four{ grid-area: projectfour;}
.project-five{ grid-area: projectfive;}
.project-six{ grid-area: projectsix;}

.projects-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto repeat(3, 1fr);
    grid-template-areas: 
    "yourprojects yourprojects"
    "projectone projecttwo"
    "projectthree projectfour"
    "projectfive projectsix";
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 15px;
}
.project{
    display: grid;
    grid-template-rows: repeat(3, auto);
    background-color: white;
    border-left: 8px solid #0ea5e9;
    border-radius: 8px;
    padding: 10px;
}
.project-header{
    font-weight: bold;
    align-self: end;
}
.project-description{
    font-size: 14px;
}
.project-buttons{
    justify-self: end;
    align-self: end;
}
/* end projects container */
/* Social container */
.announce-header { grid-area: announeheader;font-weight: bold;}
.announcements { grid-area: announcements;}
.trend-header { grid-area: trendheader;}
.trending { grid-area: trending;}
.social-container{
    display: grid;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "announeheader"
    "announcements"
    "trendheader"
    "trending";
    grid-row-gap: 15px;
    margin: 15px;
}
.announcements{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 20px;
}
.announcements div{
    font-size: 16px;
    padding: 10px 0px;
}
.announcement1, .announcement2 {
    border-bottom: 1px solid lightgray;
}

/* End Social container*/
/****** End Main-Content styling ******/